<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="splash">
  <div class="container">
  <meta charset="utf-8">
  
<h1>Currency Converter</h1>
<br><br>

 <form method="POST" action="{{ url_for('info1') }}">          
 <p>Choose the base:<br></p>
   <p><select name="base">
   <option>USD</option>
     <option>EUR</option>
     <option>GBP</option>
     
     <option>AUD</option>
     <option>BGN</option>
     <option>BRL</option>
     <option>CAD</option>
     <option>CHF</option>
     <option>CNY</option>
     <option>CZK</option>
     <option>DKK</option>
     <option>HKD</option>
     <option>HRK</option>
     <option>HUF</option>
     <option>IDR</option>
     <option>ILS</option>
     <option>INR</option>
     <option>JPY</option>
     <option>KRW</option>
     <option>MXN</option>
     <option>MYR</option>
     <option>NOK</option>
     <option>NZD</option>
     <option>PHP</option>
     <option>PLN</option>
     <option>RON</option>
     <option>RUB</option> 
     <option>SEK</option>
     <option>SGD</option>
     <option>THB</option>
     <option>TRY</option>
     <option>ZAR</option>
    </select></p>
    <br><br>
   
    <p>Choose the currency to convert:<br></p>
    <p><select name="to_currency">
     <option>USD</option>
     <option>GBP</option>
     <option>EUR</option>
     
     <option>AUD</option>
     <option>BGN</option>
     <option>BRL</option>
     <option>CAD</option>
     <option>CHF</option>
     <option>CNY</option>
     <option>CZK</option>
     <option>DKK</option>
     <option>HKD</option>
     <option>HRK</option>
     <option>HUF</option>
     <option>IDR</option>
     <option>ILS</option>
     <option>INR</option>
     <option>JPY</option>
     <option>KRW</option>
     <option>MXN</option>
     <option>MYR</option>
     <option>NOK</option>
     <option>NZD</option>
     <option>PHP</option>
     <option>PLN</option>
     <option>RON</option>
     <option>RUB</option> 
     <option>SEK</option>
     <option>SGD</option>
     <option>THB</option>
     <option>TRY</option>
     <option>ZAR</option>
   </select></p>
    {% if flag2 == true%}
    <span style="color: red;">[The currency to convert can't be equal to the base currency]</span>
    {%endif%}
   
    <p>
    <br><br>

        Enter the amount to convert:<br>
    </p>
       <p><input  type="text" value="0" name="amount">
       {% if flag1 == true%}
        <span style="color: red;">[The entered amount must be positive]</span>
        {%endif%}
        {% if flag3 == true%}
        <span style="color: red;">[Incorrect input]</span>
        {%endif%}
       </p>
   
   <p><input class="btn btn-default"   type="submit" value="Convert"></p>
  </form>

                  
</div></div>
{% endblock %}